.itemcontainer{
    display: flex;
    align-items: start;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.imgcontainer{
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.image{
    width: 100%;
    height: auto;
}

.namecontainer{
    margin-left: 50px;
}

.name{
    font-size: larger;
    font-weight: bold;
}

.amount{
    font-weight: bold;
    margin-top: 10px;
}